<div class="main-container">
    <section>
        <div class="container">
            <form class="row justify-content-around wizard">
                <ul class="col-12 col-md-auto nav nav-tabs flex-md-column justify-content-between justify-content-md-start">
                    <li><a href="#first" class="step-circle step-circle-sm">1</a>
                    </li>
                    <li><a href="#second" class="step-circle step-circle-sm">2</a>
                    </li>
                    <li><a href="#third" class="step-circle step-circle-sm">3</a>
                    </li>
                    <li><a href="#fourth" class="step-circle step-circle-sm">4</a>
                    </li>
                </ul>
                <!--end of col-->
                <div class="col col-lg-9 tab-content">
                    <div id="first">
                        <%= render 'shops/form_steps/step_1' %>
                    </div>
                    <div id="second">
                        <%= render 'shops/form_steps/step_2' %>
                    </div>
                    <div id="third">
                        <%= render 'shops/form_steps/step_3' %>
                    </div>
                    <div id="fourth">
                         <%= render 'shops/form_steps/step_4' %>   
                    </div>
                </div>
                <!--end of col-->
            </form>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
