<div class="row align-items-center mb-5">
    <div class="col-12 col-md-6">
        <h6 class="title-decorative">Step Four</h6>
        <h3 class="h1">You're all set</h3>
        <span class="lead">We've set up your account and some basic details, now let's move on to your dashboard</span>
        <button type="submit" class="btn btn-success btn-lg">Go to dashboard</button>
    </div>
    <!--end of col-->
    <div class="col-12 col-md-6">
        <img alt="Image" src="/assets/graphic-woman-writing.svg" class="w-100" />
    </div>
    <!--end of col-->
</div>
<!--end of row-->