<div class="row align-items-center mb-5">
    <div class="col-12 col-md-7">
        <h6 class="title-decorative">Step One</h6>
        <h3 class="h1">Create your store</h3>
        <span class="lead">Let's begin by creating your store. You can always change these details later</span>
    </div>
    <!--end of col-->
    <div class="col-12 col-md-5">
        <img alt="Image" src="/assets/graphic-man-box.svg" class="w-100" />
    </div>
    <!--end of col-->
</div>
<!--end of row-->
<form>
    <div class="form-row form-group">
        <div class="col">
            <input class="form-control form-control-lg" type="text" id="company" placeholder="Store Name" />
        </div>
    </div>
   
</form>
<button class="btn btn-success sw-btn-next mt-4" type="button">Next Step</button>