<div class="row align-items-center mb-5">
    <div class="col-12 col-md-7">
        <h6 class="title-decorative">Step Two</h6>
        <h3 class="h1">Tell us about you</h3>
        <span class="lead">Add some detail to your profile to personalise it and let others know who you are</span>
    </div>
    <!--end of col-->
    <div class="col-12 col-md-4">
        <img alt="Image" src="/assets/graphic-woman-writing-2.svg" class="w-100" />
    </div>
    <!--end of col-->
</div>
<!--end of row-->
<div class="form-group">
    <label for="about-me">Store Url:</label>
    <input rows="4" class="form-control form-control-lg" id="about-me" placeholder="Store Url" />
    <small>This information will be shown on your public profile</small>
</div>
<div>
    <div class="custom-control custom-checkbox custom-checkbox-switch">
        <input type="checkbox" class="custom-control-input" value="box-2" name="box-2" id="box-2">
        <label class="custom-control-label" for="box-2">Make profile public</label>
    </div>
</div>
<button class="btn btn-success sw-btn-next mt-4" type="button">Next Step</button>