<div class="row align-items-center mb-5">
    <div class="col-12 col-md-7">
        <h6 class="title-decorative">Step Three</h6>
        <h3 class="h1">Choose theme</h3>
        <span class="lead">Select some of the options below to personalise your daily news feed</span>
    </div>
    <!--end of col-->
    <div class="col-12 col-md-5">
        <img alt="Image" src="/assets/graphic-man-computer.svg" class="w-100" />
    </div>
    <!--end of col-->
</div>
<!--end of row-->
<div>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">Design</button>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">Development</button>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">VR</button>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">Photography</button>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">User Experience</button>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">Marketing</button>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">Finance</button>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">Technology</button>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">Software</button>
    <button class="btn btn-outline-secondary mb-1" data-toggle="button">Engineering</button>
</div>
<button class="btn btn-success sw-btn-next mt-4" type="button">Next Step</button>